.gallery-city-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-size: cover;
  height: 250px;
  text-decoration: none;
  font-size: 2em;
  font-family: "Montserrat", sans-serif;
  color: white;
  font-weight: 800;
  transition: all 0.5s;
  border-radius: 5px;
}

.gallery-city-btn:hover {
  color: black;
  opacity: 0.7;
}

@media (max-width: 800px) {
  .gallery-city-btn {
    height: 10vh;
    /* color: rgba(0, 0, 0, 0.5); */
    opacity: 0.7;
    color: black;
    background-position: center;
  }

  .gallery-city-btn:hover {
    color: white;
    opacity: 0.9;
  }
}
