.about-container {
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  height: 1800px;
}

@media (max-width: 720px) {
  .about-container {
    height: 3100px;
  }
}
